<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictor</title>
</head>
<body>


    <form action="result">
        Age (in years) = <input type="number" name="Age" required><br>
        Height(in cm) = <input type="number" name="Height" required><br>
        Weight(in kg) = <input type="number" name="Weight" required><br>
        Systolic BP = <input type="number" name="Systolic BP" required><br>
        Diastolic BP = <input type="number" name="Diastolic BP" required><br>
        Cholestrol Level = <input type="number" name="Cholestrol Level" required><br>
        Glucose Level = <input type="number" name="Glucose Level" required><br>
        Smoking = <input type="number" name="Smoking" required><br>   <!-- change to radio -->
        Physical Activity = <input type="number" name="PhysicalActivity" required><br> <!-- change to radio -->
        <input type="submit">
    </form>
    
</body>
</html>