<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictor</title>
</head>
<body>


    <form action="result">
        HighBP = Yes <input type="radio" id = "Yes" name="HighBP" value = "HighBP" required>
        No <input type="radio" id = "No" name="HighBP" value = "NormalBP" required><br>
        HighChol = <input type="number" name="HighChol" required>
        <!-- HighChol: Yes <input type="radio" id = "Chol" name="HighChol" value = "HighChol" required>
        No <input type="radio" id = "Chol" name="HighChol" value = "HighChol" required>
        <br> -->
        BMI = <input type="number" name="BMI" required><br>
        Stroke = <input type="number" name="Stroke" required><br>
        HeartDiseaseorAttack = <input type="number" name="HeartDiseaseorAttack" required>
        GenHlth = <input type="number" name="GenHlth"  required>
        Age =<input type="number" name="Age" required>
        <input type="submit">
    </form>
    
</body>
</html>