<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <form action="result">
        HighBP = <input type="number" name="HighBP" required><br>
        HighChol = <input type="number" name="HighChol" required><br>
        BMI = <input type="number" name="BMI" required><br>
        Stroke = <input type="number" name="Stroke" required><br>
        HeartDiseaseorAttack = <input type="number" name="HeartDiseaseorAttack" required>
        GenHlth = <input type="number" name="GenHlth"  required>
        Age =<input type="number" name="Age" required>
        <input type="submit">
    </form>
    
</body>
</html>