<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/psignup.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat Alternates:wght@400;500;600&display=swap" />
    <link href="https://db.onlinewebfonts.com/c/1938c6d3ea712f9bdcf348aa789f5d68?family=MADEEvolveSansEVO" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" href="./public/favicon.ico">
    <title>Patient signup</title>
</head>
<body>
    
    <div class="navbar">
        <div class="logo">
            <img src="./public/logo.svg" alt="">
            <div class="logoname">
                MED.AI
            </div>
        </div>
        <div class="nav">
            <a href="./homepage.html" class="logsign">Home</a>
            <a href="./homepage.html#contact" class="contact">Contact us</a>
            <a href="./homepage.html#line1" class="about">About us</a>
            <a href="./login.html" class="logsign">Login</a>
        </div>
    </div>
    <div class="welcome">
        <p>Welcome to <span class="medAI">MED.AI</span></p>
    </div>

    <div class="instruction">
        <p>Please enter your details here</p>
    </div>

        <form action="" method="POST">
        <!-- {% for message in messages %} -->
        <!-- <h5>{{ message }}</h5>
        {% endfor %}
        {% csrf_token %} -->

        <div class="main">
            <div class="form">
                <div class="names">
                    <div class="fname" id="row">
                        <element id="fields"> First Name</element> <element id="apostrophe">*</element>
                    </div>

                    <div class="lname" id="row">
                        <element id="fields"> Last Name</element> <element id="apostrophe">*</element>
                    </div>

                    <div class="email" id="row">
                        <element id="fields"> Email</element> <element id="apostrophe">*</element>
                    </div>

                    <div class="pass" id="row">
                        <element id="fields"> Password</element> <element id="apostrophe">*</element>
                    </div>

                    <div class="confpass" id="row">
                        <element id="fields"> Confirm Password</element> <element id="apostrophe">*</element>
                    </div>

                    <div class="height" id="row">
                        <element id="fields"> Height in cm</element> <element id="apostrophe">*</element>
                    </div>

                    <div class="weight" id="row">
                        <element id="fields"> Weight in Kg</element> <element id="apostrophe">*</element>
                    </div>
                </div>

                <div class="input">
                    <input type="text" id="textbox" required name="first_name" placeholder="First Name">
                    <input type="text" id="textbox" required name="last_name" placeholder="Last Name">
            <!--        <input type="text" required name="username" placeholder="Username">-->
                    <input type="email" id="textbox" required name="email" placeholder="Email Address">
                    <input type="password" id="textbox" required name="pass1" placeholder="Password">
                    <input type="password" id="textbox" required name="pass2" placeholder="Confirm Password">
                    <!-- {{ form }} -->
                    <!--  -->
                    <input type="number" id="textbox" required name="height" placeholder="Height in Centimeters">
                    <input type="number" id="textbox" required name="weight" placeholder="Weight in Kilogram">
                </div>
            </div>

            <div class="image">
                <img src="./public/Frame.svg" alt="">
            </div>
        </div>

        <div class="align">
            <button type="submit" class="signup">Create account</button>
        </div>

        <!-- <div class="log">
            <h4 class="small">Already a member? <a href="login" class="small">Login</a></h4>
        </div> -->

    </form>

    <div class="background">

    </div>
    <div class="back2">
        <img src="./public/Ellipse_13.svg">
    </div>
    
</body>
</html>
