.home-page,
.home-page * {
  box-sizing: border-box;
}
.home-page {
  background: #f9f9f9;
  width: 1496px;
  height: 2284px;
  position: relative;
  overflow: hidden;
}
.line-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1440.01px;
  height: 0px;
  position: absolute;
  left: 9px;
  top: 972.12px;
  transform-origin: 0 0;
  transform: rotate(-0.204deg) scale(1, 1);
}
.med-ai {
  color: #000000;
  text-align: center;
  font: 500 20px "MADE Evolve Sans EVO", sans-serif;
  position: absolute;
  left: 188px;
  top: 174px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-7 {
  position: absolute;
  inset: 0;
}
.rectangle-24 {
  background: #0067ff;
  border-radius: 31.5px;
  width: 227px;
  height: 63px;
  position: absolute;
  left: 1110px;
  top: 308px;
}
.start-program {
  color: #ffffff;
  text-align: left;
  font: 500 20px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 1150px;
  top: 327px;
}
.first-page {
  position: absolute;
  inset: 0;
}
.rectangle-5 {
  background: #eaeaea;
  border-radius: 75px;
  width: 1310px;
  height: 666px;
  position: absolute;
  left: 93px;
  top: 43px;
}
.diagnostic-expert-system {
  color: #141111;
  text-align: left;
  font: 300 128px/100% "MUDKTY+WTVolkolakGrotesque-Light", sans-serif;
  position: absolute;
  left: 179.4px;
  top: 259px;
  width: 958.79px;
  height: 290.75px;
  transform-origin: 0 0;
  transform: rotate(0.276deg) scale(1, 1);
}
.group-6 {
  width: 395.71px;
  height: 374.48px;
  position: static;
}
.ellipse-1 {
  background: #ca6060;
  border-radius: 50%;
  width: 368.62px;
  height: 330.92px;
  position: absolute;
  left: 1091.81px;
  top: 958.48px;
  transform-origin: 0 0;
  transform: rotate(-179.774deg) scale(1, 1);
  filter: blur(97.5px);
}
.ellipse-2 {
  background: #c75050;
  border-radius: 50%;
  width: 395.71px;
  height: 314.13px;
  position: absolute;
  left: 710px;
  top: 584px;
  filter: blur(94px);
}
.we-shape-the-future-by-improving-the-health-care-sector-through-modern-technologies-like-artificial-intelligence {
  color: #000000;
  text-align: left;
  font: 400 16px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 188.41px;
  top: 589px;
  width: 419.66px;
  height: 101px;
}
.rectangle-6 {
  border-radius: 0px;
  position: absolute;
  left: 93px;
  top: 721px;
  overflow: visible;
}
.every-heartbeat-matters-for-us {
  color: #ffffff;
  text-align: left;
  font: 300 40px/100% "MUDKTY+WTVolkolakGrotesque-Light", sans-serif;
  position: absolute;
  left: 188px;
  top: 755px;
  width: 656.04px;
  height: 42px;
}
.human-heart-3-d-hd-anatomy-614845714-1 {
  border-radius: 45px;
  width: 331px;
  height: 340px;
  position: absolute;
  left: 720px;
  top: 584px;
}
.est-2023 {
  color: #000000;
  text-align: left;
  font: 400 16px/100% "Montserrat Alternates", sans-serif;
  position: absolute;
  left: 1146.83px;
  top: 589px;
  width: 68.73px;
}
.nav-bar {
  position: absolute;
  inset: 0;
}
.group-5 {
  width: 71.41px;
  height: 69.14px;
  position: static;
}
.group-1 {
  position: absolute;
  left: 213.03px;
  top: 95px;
  overflow: visible;
}
.group-4 {
  position: absolute;
  left: 259.41px;
  top: 117.7px;
  transform: translate(-38.93px, 0px);
  overflow: visible;
}
.group-3 {
  position: absolute;
  left: 234.28px;
  top: 164.14px;
  transform: translate(-21.25px, -37.75px);
  overflow: visible;
}
.group-2 {
  position: absolute;
  left: 188px;
  top: 138.53px;
  transform: translate(0px, -20.61px);
  overflow: visible;
}
.contact-us {
  color: #170808;
  text-align: center;
  font: 600 16px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: calc(50% - -10px);
  top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us {
  color: #170808;
  text-align: center;
  font: 600 16px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: calc(50% - -206px);
  top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-sign-up {
  color: #1b0303;
  text-align: center;
  font: 600 16px "Montserrat Alternates", sans-serif;
  position: absolute;
  left: calc(50% - -384px); 
  top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
