@font-face {
  font-family: volko;
  src: url(../public/mudkty-wtvolkolakgrotesque-light.ttf);
}
*{
  font-family: Montserrat Alternates;
  margin: 0;
  box-sizing: border-box;
  line-height: normal;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x:hidden;     /* to remove horizontal scrollbar */
}
.rectangle-5{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 87.5vw;
  height: 666px;
  border-radius: 75px;
  margin:auto;
  margin-top: 43px;
  background-color:#eaeaea;
  z-index: 0;
}
.logoname{
  width:63px;
  height:23px;
  color: #000;
  font-weight: 600;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 5px;
  font-family: "MADEEvolveSansEVO";
}
.logoandname{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar{
  position: relative;
  margin-top: 52px;
  display: flex;
  height: 97px;
  width: 74vw; 
  margin-left: 95px;
  margin-right: 105px; 
  align-items: center;
}
.nav{
  display: flex;
  position: absolute;
  right: 0px;
}
.nav a{
  text-decoration: none;
  font-size: 16px;
  padding-left: 103px;
  font-weight: 600;
  color: #170808;
}
.diagnostic{
  display: flex;
  margin-left: 85px;
  margin-top: 70px;
  width: 64vw;
  height: 291px;
  color: #141111;
  font-family: volko;
  font-size: 128px;
  font-weight: 200;
  line-height: 100%;
}
.startprogram{
  position: absolute;
  right: 66px;
  top: 265px;
  width: 227px;
  height: 63px;
  color: #FFF;
  font-size: 20px;
  background-color: #0067FF;
  border-width: 0;
  border-radius: 31.5px;
}
.shapefuture{
  position: absolute;
  left: 95.41px;
  top: 546px;
  width: 419.658px;
  height: 101px;
  font-size: 16px;
  font-weight: 400;
}
.est{
  position: absolute;
  color: #000;
  right: 187px;
  top: 546px;
  width: 68.728px;
  font-size: 16px;
  font-weight: 400;
}
.rectangle6{
  position: relative;
  margin: auto;
  margin-top: 12px;
  width: 87.5vw;
}
.rectangle6 .box{
  display: flex;
  position: relative;
  align-items: center;
  width: 87.5vw;
  height: 100px;
  border-radius: 20px;
  background-color: #0067FF;
  color: #FFF;
  font-size: 40px;
  font-weight: 200;
  z-index: 1;
}
.rectangle6 .text{
  font-family: volko;
  font-size: 40px;
  font-weight: 200;
  padding-left: 95px;
}
.rectangle6 .heart{
  position: absolute;
  width: 22vw;
  right: 26%;
  top: -140px;
  border-radius: 45px;
  z-index: 2;
}
.rectangle6 img{
  width: 100%;
  height: auto;
}
.rectangle6 .background{
  position: absolute;
  right: 26%;
  top: -140px;
  width: 22vw;
  height: 22vw;
  border-radius: 395px;
  background: #C75050;
  filter: blur(94px);
  z-index: 0;
}


/* Our Models */

.line{
  margin-top: 146px;
  background-color: black;
  height: 1px;
  width: 100vw;
}
.ourmodels{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 107px;
  width: 72.2vw;
  height: 536px;
}
.ourmodels .head{
  justify-content: center;
  display: flex;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 42%;
  height: 63px;
  color: #000;
  font-family: Montserrat Alternates;
  font-size: 70px;
  font-weight: 500;
}
.rect{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border-radius: 16px;
  color: #F9F9F9;
  background-color: #0067FF;
  width: 49%;
  height: 170px;
}
.rect20and21{
  margin-top: 96px;
  display: flex;
  width: 100%;
  height: 170px;
  gap: 20px;
}
.rect22and23{
  margin-top: 37px;
  display: flex;
  width: 100%;
  height: 170px;
  gap: 20px;
}


/* about us  */
.aboutus{
  width: 86.5vw;
  height: 503px;
  display: flex;
  margin: auto;
  margin-top: 75px;
  flex-direction: column;
}
.aboutus .head{
  justify-content: center;
  display: flex;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 42%;
  height: 63px;
  color: #000;
  font-family: Montserrat Alternates;
  font-size: 70px;
  font-weight: 500;
}
.rect24{
  display: flex;
  margin: auto;
  margin-top: 64px;
  gap: 7.7vw;
}
.rect24 .text{
  width: 43.7vw;
  font-size: 29px;
}
.rect24 .doctorpatient{
  position: relative;
}
.rect24 .image{
  display: flex;
  position: relative;
  width: 35vw;
  z-index: 1;
}
.rect24 img{
  width:100%;
  height:100%;
}
.rect24 .background{
  display: flex;
  position: absolute;
  top: -14px;
  left: 60px;
  width: 26.5vw;
  height: 21vw;
  background: #C75050;
  filter: blur(94px);
  z-index:0; 
} 

  /* Contact us */
  .contactandlogo{
    display: flex;
    align-items: center;
    margin-top: 62px;
    margin-left: 6.5vw;
  }
  .contactandlogo .head{
    margin-left: 2.5vw;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
  }
  .queries{
    color: #FFF;
    width: 86.8vw;
    height: 273px;
    align-items: center;
    margin: auto;
    margin-top: 56px;
    display: flex;
    border-radius: 45px;
    background: #0067FF;
  }
  .enteremail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .enteremail form{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    margin-right: 20px;
  }
  .form input{
    background:#D9D9D9;
    border-width: 0px;
    height: 54px;
    border-radius: 64px;
    font-size: 32px;
    text-align: center;
  }
  form input::placeholder{
    color:#000;
  }
  .form input[type=email]{
    background:#D9D9D9 ;
    margin-top: 22px;
    width: 20.7vw;
    margin-bottom: 22px;
  }
  input:focus::placeholder{
    color: transparent;
  }
  .form input[type=submit]{
    color: #000;
    width: 20.7vw;
  }
  .enteremail .text{
    font-size: 20px;
  }
  .emailandnumber{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 29px;
  }
  .emailandnumber .phone{
    display: flex;
    align-items: center;
  }
  .emailandnumber .email{
    display: flex;
    align-items: center;
  }
  

  /* footer */

footer{
  position: absolute;
  display: flex;
  width: 100vw;
  height: 65px;
  background: #0067FF;
  align-items: center;
  margin-top: 58px;
}

.copyright{
  margin-top: 10px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-left: 143px;
  line-height: 100%;
}
.atr-icon{
  margin-bottom: 10px;
  margin-right: 2px;
}
.icons{
  margin-left: 450px;
  display: flex;
  gap: 34px;
  justify-content: center;
  align-items: center;
}