<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DoctorReport</title>
</head>
<body>

{% for report in reports %}
    <div style="border:solid; margin:2px">
        <h4>Patient ID: {{report.patient.user.username}}</h4>
        <h4>Patient Name: {{report.patient.first_name}} {{report.patient.last_name}}</h4>
        <h4>Disease Name: {{report.disease}}</h4>
        <h4>Date: {{report.date}}</h4>
        <a href="/report?report_id={{report.id}}">
            <button></button>
        </a>
    </div>
{% endfor %}

</body>
</html>