<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        
        <h2 class="title">Doctor Registration</h2>
        <form action="" method="POST" enctype="multipart/form-data">
        {% for message in messages %}
        <h5>{{ message }}</h5>
        {% endfor %}
        {% csrf_token %}
        <input type="text" required name="first_name" placeholder="First Name"><br>
        <input type="text" required name="last_name" placeholder="Last Name"><br>
        <input type="email" required name="email" placeholder="Email Address"><br>
        <input type="password" required name="pass1" placeholder="Password"><br>
        <input type="password" required name="pass2" placeholder="Confirm Password"><br>
            <!-- {{ form }} -->
        <br>
        Gender: 
        Male <input type="radio" id="Male" name="gender" value="gender" required> 
        Female <input type="radio" id="Female" name="gender" value="gender" required> <br>

        <input type="number" id="textbox" required name="number" placeholder="Number"><br>
            
        <input type="date" id="birthdate" name="birthdate"><br>
        Speciality:<input type="text" required name="speciality" placeholder="Speciality"><br>
        Work Address:<input type="text" required name="work_address" placeholder="Work Address"><br>
        Certificate: <input type="file" name="certificate" required > <!--accept="application/pdf"-->

        <button type="submit">Sign Up</button>

        <h4 class="small">Already a member? <a href="login" class="small">Login</a></h4>

    </form>

    
    </form>
</body>
</html>