<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat Alternates:wght@400;500;600&display=swap" />
    <link href="https://db.onlinewebfonts.com/c/1938c6d3ea712f9bdcf348aa789f5d68?family=MADEEvolveSansEVO"
        rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/homepage.css" />
    <link rel="icon" href="../static/public/favicon.ico">
    <title>Homepage</title>
</head>

<body>

    <!-- Start Program -->

    <div class="rectangle-5">
        <div class="navbar">
            <div class="logoandname">
                <div class="company-icon"><img class="image" alt="" src="../static/public/logo.svg"></div>
                <div class="logoname">MED.AI</div>
            </div>
            <div class="nav">
                <!-- <a href="./Static Pages/Diabetes Page/index.html" class="contact">About Models</a> -->
                <a href="#contact" class="contact">Contact us</a>
                <a href="#line1" class="about">About us</a>
                <a href="./login" class="logsign">Login</a>
                <a href="./signup" class="logsign">Sign up</a>
            </div>
        </div>
        <div class="diagnostic">Diagnostic Expert System</div>
        <div class="shapefuture">We shape the future by improving the health care sector through modern technologies
            like artificial intelligence.</div>
        <div class="est">Est 2023</div>
    </div>
    <div class="rectangle6">
        <div class="box">
            <div class="text">Every heartbeat matters...</div>
        </div>
        <div class="background"></div>
        <img alt="" src="../static/public/heart.svg">
    </div>

    <div class="line"></div>


    <!-- Our Models -->

    <div class="ourmodels">
        <div class="head">Our Models</div>
        <div class="rect20and21">
            <a href="./diabetesinfo" class="rect">
                <div>Diabetes</div>
            </a>
            <a href="./heartinfo" class="rect">
                <div>Heart</div>
            </a>

        </div>
        <div class="rect22and23">
            <div class="rect">Coming Soon</div>
            <div class="rect">Coming Soon</div>
        </div>
    </div>

    <div id="line1" class="line"></div>


    <!-- About us -->

    <div class="aboutus" id="aboutus">
        <div class="head">About Us</div>
        <div class="rect24">
            <div class="text">Welcome to <b style="font-family: MADEEvolveSansEVO;">MED AI !</b><br><br> Our
                website is home to a revolutionary Machine Learning model that is poised to transform the way healthcare
                operates. Here we predict diseases with remarkable accuracy from patient's data. <br><br>Say goodbye to
                uncertainty and hello to proactive healthcare. Explore the future of diagnosis with us!</div>
            <div class="doctorpatient">
                <div class="image"><img src="../static/public/doctorpatient.svg" alt=""></div>
                <div class="background"></div>
            </div>
        </div>
    </div>


    <!-- Contact us -->

    <div class="line"></div>

    <div class="contactandlogo" id="contact">
        <div class="logoandname">
            <div class="company-icon"><img class="image" alt="" src="../static/public/logo.svg"></div>
            <div class="logoname">MED.AI</div>
        </div>
        <div class="head">Contact us</div>
    </div>
    <div class="queries">


        <div class="querieleft">
            <div class="queryemail">
                <div>For any queries</div>
                <div class="email">
                    <a href="mailto:medai.solutions.health@gmail.com?cc=202101425@daiict.ac.in&bcc=202101419@daiict.ac.in
                    &subject=Queries%20regarding%20MED%20AI
                    &body=Type%20your%20Query%20here:-%20">
                        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="31" viewBox="0 0 29 31" fill="none">
                            <path d="M0 0.812988H29V30.0235H0V0.812988Z" fill="white" fill-opacity="0.01" />
                            <path d="M2.4165 24.5466H26.5832V15.4183V6.29004H14.4998H2.4165V15.4183V24.5466Z"
                                fill="#2F88FF" stroke="white" stroke-width="2" stroke-linejoin="round" />
                            <path d="M2.4165 6.29004L14.4998 15.4183L26.5832 6.29004" stroke="white" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M14.4998 6.29004H2.4165V15.4183" stroke="white" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M26.5833 15.4185V6.29016H14.5" stroke="white" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <div class="text">Med-Ai Email Link</div>
                    </a>
                </div>
            </div>



            <div class="maps">

                <div class="location">Our Location</div>

                <iframe class="elementmap"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.497399237401!2d72.62672681492236!3d23.188536984869344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2a3c9618d2c5%3A0xc54de484f986b1fa!2sDA-IICT!5e0!3m2!1sen!2sin!4v1648410155507!5m2!1sen!2sin"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>

        </div>

        <div class="queryright">

            <div class="ourteam">Our Team</div>

            <div class="imagecontainer">
                <div class="col1">
                    <a href="https://www.linkedin.com/in/vansh-joshi21/" target="_blank" rel="noopener noreferrer"><img src="../static/public/vansh.svg" alt="vansh"></a>
                    <a href="https://www.linkedin.com/in/akshat-prasad-3635ba221/" target="_blank" rel="noopener noreferrer"><img src="../static/public/akshat.svg" alt="akshat"></a>
                    <a href="https://www.linkedin.com/in/yuvraj-chaudhari-8a23a8280/" target="_blank" rel="noopener noreferrer"><img src="../static/public/yuvraj.svg" alt="yuvraj"></a>
                    <a href="https://www.linkedin.com/in/aryan-jivani-318892244/" target="_blank" rel="noopener noreferrer"><img src="../static/public/aryan.svg" alt="aryan"></a>
              
                    <a href="https://www.linkedin.com/in/akshar-panchani-2b9511236/" target="_blank" rel="noopener noreferrer"><img src="../static/public/akshar.svg" alt="akshar"></a>
                    <a href="https://www.linkedin.com/in/parth-parmar-7a6843223/" target="_blank" rel="noopener noreferrer"><img src="../static/public/parth.svg" alt="parth"></a>
                    <a href="https://www.linkedin.com/in/nikunj-variya-720736262/" target="_blank" rel="noopener noreferrer"><img src="../static/public/nikunj.svg" alt="nikunj"></a>
                    <a href="https://www.linkedin.com/in/anjali-jilariya-8b119727a/" target="_blank" rel="noopener noreferrer"><img src="../static/public/anjali.svg" alt="anjali"></a>

                    <a href="https://www.linkedin.com/in/arjav-gandhi-a5740222a/" target="_blank" rel="noopener noreferrer"><img src="../static/public/arjav.svg" alt="arjav"></a>
                    <a href="https://www.linkedin.com/in/sumukh-patel-325017224/" target="_blank" rel="noopener noreferrer"><img src="../static/public/sumukh.svg" alt="sumukh"></a>
                    <a href="https://www.linkedin.com/in/sumukh-patel-325017224/" target="_blank" rel="noopener noreferrer"><img src="../static/public/ayush.svg" alt="ayush"></a>






                </div>

            </div>

        </div>
    </div>


    <!-- Footer -->

    <div class="footer">
        <div class="copyright">
            <div class="atr-icon"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"
                    fill="none">
                    <path
                        d="M10.0189 16.3934C4.82875 16.3934 0.610107 12.7182 0.610107 8.1967C0.610107 3.67517 4.82875 0 10.0189 0C15.2091 0 19.4277 3.67517 19.4277 8.1967C19.4277 12.7182 15.2091 16.3934 10.0189 16.3934ZM10.0189 1.14373C5.5552 1.14373 1.92296 4.30803 1.92296 8.1967C1.92296 12.0854 5.5552 15.2497 10.0189 15.2497C14.4826 15.2497 18.1149 12.0854 18.1149 8.1967C18.1149 4.30803 14.4826 1.14373 10.0189 1.14373Z"
                        fill="white" />
                    <path
                        d="M10.2291 11.8185C7.93603 11.8185 6.07178 10.1945 6.07178 8.19675C6.07178 6.19904 7.93603 4.57495 10.2291 4.57495C11.2357 4.57495 12.2159 4.89519 12.9686 5.48231C13.2399 5.68818 13.2662 6.05417 13.0299 6.29054C12.7936 6.52691 12.3735 6.54979 12.1021 6.34392C11.5857 5.94743 10.9206 5.72631 10.2291 5.72631C8.66245 5.72631 7.38463 6.83953 7.38463 8.20437C7.38463 9.56922 8.66245 10.6824 10.2291 10.6824C10.9118 10.6824 11.5857 10.4613 12.1021 10.0648C12.3735 9.85896 12.7936 9.88184 13.0299 10.1182C13.2662 10.3546 13.2399 10.7206 12.9686 10.9264C12.2072 11.4983 11.2357 11.8185 10.2291 11.8185Z"
                        fill="white" />
                </svg></div>
            <div>Copyright 2023. Group 25. All Rights Reserved.</div>
        </div>
        <div class="icons">
            <a href="https://github.com/Aksharpanchani/IT_314_Software_engineering_Project_G25" target="_blank"
                rel="noopener noreferrer">
                <div class="twitter"><svg xmlns="http://www.w3.org/2000/svg" width="65" height="59" viewBox="0 0 65 59"
                        fill="none">
                        <path d="M0 0H64.6675V58.704H0V0Z" fill="white" fill-opacity="0.01" />
                        <path
                            d="M6.73619 43.7372C9.33483 45.0414 28.1457 54.8849 41.5218 47.2983C54.8977 39.7117 54.1598 26.641 54.1598 20.6516C55.3715 18.3472 57.9313 17.1757 57.9313 10.9383C55.4169 13.0468 52.9178 13.7642 50.4339 13.0905C48.0004 9.72236 44.6522 8.23262 40.3894 8.62138C33.9953 9.2045 31.6559 14.8992 32.3444 22.2668C22.4853 26.7928 14.7543 18.9859 10.7701 13.0905C9.43885 17.7334 8.15524 23.3075 10.7701 29.4737C12.5133 33.5845 16.7037 37.0599 23.3415 39.8999C16.6146 43.2096 11.0795 44.4886 6.73619 43.7372Z"
                            fill="#2F88FF" stroke="#FCFBFB" stroke-width="2" stroke-linejoin="round" />
                    </svg></div>
            </a>
            <a href="https://github.com/Aksharpanchani/IT_314_Software_engineering_Project_G25" target="_blank"
                rel="noopener noreferrer">
                <div class="insta"><svg xmlns="http://www.w3.org/2000/svg" width="58" height="52" viewBox="0 0 58 52"
                        fill="none">
                        <path
                            d="M21.2 50.204H36.8C43.4115 50.204 48.4227 49.0551 51.7653 46.1172C55.1578 43.1354 56.5 38.6146 56.5 32.7076V18.9964C56.5 13.0894 55.1578 8.56854 51.7653 5.58678C48.4227 2.64889 43.4115 1.5 36.8 1.5H21.2C14.5885 1.5 9.57735 2.64889 6.23474 5.58678C2.84222 8.56854 1.5 13.0894 1.5 18.9964V32.7076C1.5 38.6146 2.84222 43.1354 6.23474 46.1172C9.57735 49.0551 14.5885 50.204 21.2 50.204Z"
                            stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M29 35.3502C34.6665 35.3502 39.6 31.2737 39.6 25.852C39.6 20.4302 34.6665 16.3538 29 16.3538C23.3335 16.3538 18.4 20.4302 18.4 25.852C18.4 31.2737 23.3335 35.3502 29 35.3502Z"
                            stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M43.6538 12.926C42.8254 12.926 42.1538 13.5976 42.1538 14.426C42.1538 15.2545 42.8254 15.926 43.6538 15.926H43.684C44.5124 15.926 45.184 15.2545 45.184 14.426C45.184 13.5976 44.5124 12.926 43.684 12.926H43.6538Z"
                            stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    </svg></div>
            </a>
            <a href="https://github.com/Aksharpanchani/IT_314_Software_engineering_Project_G25" target="_blank"
                rel="noopener noreferrer">
                <div class="facebook"><svg xmlns="http://www.w3.org/2000/svg" width="58" height="49" viewBox="0 0 58 49"
                        fill="none">
                        <path
                            d="M58 34.7655C58 43.6835 51.707 49 41.151 49H37.7C36.105 49 34.8 47.8975 34.8 46.55V32.4135C34.8 31.752 35.438 31.1885 36.221 31.1885L41.325 31.115C41.731 31.0905 42.079 30.8455 42.166 30.5025L43.181 25.823C43.268 25.382 42.862 24.9655 42.311 24.9655L36.134 25.039C35.322 25.039 34.684 24.5 34.655 23.8385L34.539 17.836C34.539 17.444 34.916 17.101 35.409 17.101L42.369 17.003C42.862 17.003 43.239 16.6845 43.239 16.268L43.123 10.388C43.123 9.97148 42.746 9.653 42.253 9.653L34.423 9.75103C29.609 9.82452 25.781 13.1565 25.868 17.2235L26.013 23.961C26.042 24.647 25.404 25.186 24.592 25.2105L21.112 25.2595C20.619 25.2595 20.242 25.578 20.242 25.9945L20.329 30.6495C20.329 31.066 20.706 31.3845 21.199 31.3845L24.679 31.3355C25.491 31.3355 26.129 31.8745 26.158 32.536L26.419 46.501C26.448 47.873 25.143 49 23.519 49H16.849C6.293 49 0 43.6835 0 34.741V14.2345C0 5.3165 6.293 0 16.849 0H41.151C51.707 0 58 5.3165 58 14.2345V34.7655Z"
                            fill="white" />
                    </svg></div>
            </a>
        </div>
    </div>
    <script src="../static/js/homepage.js"></script>
</body>

</html>