<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat Alternates:wght@400;500;600&display=swap" />
    <link href="https://db.onlinewebfonts.com/c/1938c6d3ea712f9bdcf348aa789f5d68?family=MADEEvolveSansEVO" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/signup.css" />
    <link rel="icon" href="../static/public/favicon.ico">
    <title>Signup</title>
</head>
<body>
<div class="homepage">
    <div class="rectangle-5">
        <a href="./homepage" class="logoandname">
            <div class="company-icon"><img class="image" alt="" src="../static/public/logo.svg"></div>
            <div class="logoname">MED.AI</div>
        </a>
        <div class="nav">
            <a href="./homepage#contact" class="contact">Contact us</a>
            <a href="./homepage#line1" class="about">About us</a>
            <a href="./login" class="logsign">Login</a>
        </div>
    </div>
</div>
<div class="ellipse14">
    <div class="blur-background"></div>
    <div class="login-image">
        <img src="../static/public/Frame.svg">
    </div>

    <div class="vertical-line"></div>

    <div class="you_are_a">
        <div class="you">you are a</div>
        <div class="UserType" style="padding: 75px 1px;">
            <a href="./dsignup"><button class="button doctor">Doctor</button></a>
            <a href="./psignup"> <button class="button patient">Patient</button></a>

        </div>
    </div>
</div>
</div>


</body>
</html>