<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <h1>Login here</h1><br>
    <form action="" method="POST">
        {% csrf_token %}
        {% for message in messages %}
        <h5>{{ message }}</h5>
        {% endfor %}

        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
<!--        <h4>Don't have an account? <a href="signup">Sign Up</a></h4>-->
<!--        <h4><a href="reset_password">Forgot Password? </a></h4>-->

    </form>
</body>
</html>