<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat Alternates:wght@400;500;600&display=swap" />
    <link href="https://db.onlinewebfonts.com/c/1938c6d3ea712f9bdcf348aa789f5d68?family=MADEEvolveSansEVO" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">    
    <link rel="icon" href="public/favicon.ico">
    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        appearance: none;
        background: none;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="heart-static-page">
      <div class="ellipse-18"></div>
      <svg
        class="ellipse-17"
        width="602"
        height="394"
        viewBox="0 0 602 394"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g filter="url(#filter0_f_42_8)">
          <path
            d="M602 197C602 305.8 467.238 394 301 394C134.762 394 0 305.8 0 197C0 88.1999 134.762 0 301 0C467.238 0 602 88.1999 602 197Z"
            fill="#79A2FF"
          />
        </g>
        <defs>
          <filter
            id="filter0_f_42_8"
            x="-400"
            y="-400"
            width="1402"
            height="1194"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"
            />
            <feGaussianBlur
              stdDeviation="200"
              result="effect1_foregroundBlur_42_8"
            />
          </filter>
        </defs>
      </svg>

      <svg
        class="vector-1"
        width="24"
        height="41"
        viewBox="0 0 24 41"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.98311 40.7006H0.984802C1.19897 30.1793 1.58446 8.43084 1.41313 5.60671C1.2418 2.78259 4.91116 0.692187 6.76725 0H18.118C21.8873 0.498375 23.5435 3.80703 23.9004 5.60671V20.7656H21.1163V6.02203C21.1163 3.53015 18.5463 2.76875 17.2613 2.69953H7.62391C5.05393 2.69953 4.12589 5.1914 3.98311 6.43734V40.7006Z"
          fill="#E61616"
        />
      </svg>

      <svg
        class="vector-12"
        width="42"
        height="23"
        viewBox="0 0 42 23"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.0237045 3.38341V0.476227C10.8747 0.683883 33.3049 1.05766 36.2176 0.891539C39.1302 0.725414 41.2861 4.28325 42 6.08294V17.0887C41.486 20.7435 38.0736 22.3493 36.2176 22.6954H20.5835L20.5835 19.9959H35.7892C38.3592 19.9959 39.1445 17.504 39.2159 16.2581V6.91356C39.2159 4.42169 36.6459 3.52185 35.3609 3.38341L0.0237045 3.38341Z"
          fill="#5247D2"
        />
      </svg>

      <div class="ellipse-13"></div>
      <div class="ellipse-16"></div>
      <svg
        class="vector-13"
        width="24"
        height="42"
        viewBox="0 0 24 42"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20.902 0.847939H23.9003C23.6862 11.3692 23.3007 33.1177 23.472 35.9418C23.6433 38.7659 19.974 40.8563 18.1179 41.5485H6.76715C2.99785 41.0501 1.34164 37.7415 0.984699 35.9418L0.984699 20.7829H3.76884L3.76884 35.5265C3.76884 38.0184 6.33882 38.7798 7.62381 38.849H17.2612C19.8312 38.849 20.7592 36.3571 20.902 35.1112L20.902 0.847939Z"
          fill="#5247D2"
        />
      </svg>

      <svg
        class="vector-14"
        width="42"
        height="23"
        viewBox="0 0 42 23"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M41.9763 20.0231V22.9303C31.1253 22.7226 8.69509 22.3489 5.78245 22.515C2.86981 22.6811 0.713883 19.1233 0 17.3236L0 6.31781C0.513995 2.66307 3.92635 1.0572 5.78245 0.711102H21.4165V3.41063H6.21078C3.6408 3.41063 2.85553 5.9025 2.78414 7.14844L2.78414 16.493C2.78414 18.9848 5.35412 19.8847 6.63911 20.0231L41.9763 20.0231Z"
          fill="#E61616"
        />
      </svg>

      <a href="../../homepage.html" class="home">Home</a>
      <a href="../../homepage.html#contact"><div class="contact-us">Contact us</div></a>
      <a href="../../homepage.html#line1"><div class="about-us">About us</div></a>
      <div class="med-ai">MED.AI</div>
      <div class="cardiovascular-disease-ml-model">
        Cardiovascular Disease ML Model
      </div>
      <div class="about-cardiovascular-disease">
        About Cardiovascular Disease
      </div>
      <div class="about-our-ai-model">About our Ai Model</div>
      <div class="model-accuracy">Model Accuracy</div>
      <div class="dataset-overview">Dataset Overview</div>
      <svg
        class="ellipse-15"
        width="602"
        height="394"
        viewBox="0 0 602 394"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g filter="url(#filter0_f_34_23)">
          <path
            d="M602 197C602 305.8 467.238 394 301 394C134.762 394 0 305.8 0 197C0 88.1999 134.762 0 301 0C467.238 0 602 88.1999 602 197Z"
            fill="#79A2FF"
          />
        </g>
        <defs>
          <filter
            id="filter0_f_34_23"
            x="-400"
            y="-400"
            width="1402"
            height="1194"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"
            />
            <feGaussianBlur
              stdDeviation="200"
              result="effect1_foregroundBlur_34_23"
            />
          </filter>
        </defs>
      </svg>

      <div
        class="our-dataset-dating-back-to-1988-is-comprised-of-four-main-databases-cleveland-hungary-switzerland-and-long-beach-v-these-databases-collectively-contain-76-attributes-each-serving-a-specific-purpose-in-the-diagnosis-of-heart-diseases-the-most-crucial-attribute-the-target-field-indicates-the-presence-of-heart-disease-in-the-patient-denoted-as-an-integer-value-where-0-signifies-no-disease-and-1-represents-the-presence-of-disease"
      >
        Our dataset, dating back to 1988, is comprised of four main databases:
        Cleveland, Hungary, Switzerland, and Long Beach V. These databases
        collectively contain 76 attributes, each serving a specific purpose in
        the diagnosis of heart diseases. The most crucial attribute, the
        &quot;target&quot; field, indicates the presence of heart disease in the
        patient, denoted as an integer value where 0 signifies no disease and 1
        represents the presence of disease.
      </div>
      <div class="frame-1">
        <div class="key-attributes">Key Attributes</div>
        <div
          class="to-make-precise-predictions-our-system-employs-a-subset-of-14-essential-attributes-from-the-extensive-dataset-these-key-attributes-include"
        >
          To make precise predictions, our system employs a subset of 14
          essential attributes from the extensive dataset. These key attributes
          include:
        </div>
        <div class="age-the-age-of-the-patient-in-years">
          Age: The age of the patient in years.
        </div>
        <div class="sex-the-gender-of-the-patient-1-for-male-0-for-female">
          Sex: The gender of the patient (1 for male, 0 for female)
        </div>
        <div
          class="chest-pain-type-a-categorical-attribute-reflecting-the-type-of-chest-pain-experienced-by-the-patient-values-1-4"
        >
          Chest Pain Type: A categorical attribute reflecting the type of chest
          pain experienced by the patient (values 1-4).
        </div>
        <div
          class="resting-blood-pressure-the-patient-s-resting-blood-pressure-in-mm-hg"
        >
          Resting Blood Pressure: The patient&#039;s resting blood pressure in
          mm Hg.
        </div>
        <div class="serum-cholestoral-the-serum-cholesterol-level-in-mg-dl">
          Serum Cholestoral: The serum cholesterol level in mg/dl.
        </div>
        <div
          class="fasting-blood-sugar-indicates-whether-fasting-blood-sugar-is-greater-than-120-mg-dl-1-for-true-0-for-false"
        >
          Fasting Blood Sugar: Indicates whether fasting blood sugar is greater
          than 120 mg/dl (1 for true, 0 for false).
        </div>
        <div
          class="resting-electrocardiographic-results-results-of-resting-electrocardiogram-values-0-1-2"
        >
          Resting Electrocardiographic Results: Results of resting
          electrocardiogram (values 0, 1, 2).
        </div>
        <div
          class="maximum-heart-rate-achieved-the-highest-heart-r-ate-achieved-during-testing"
        >
          Maximum Heart Rate Achieved: The highest heart r ate achieved during
          testing.
        </div>
        <div
          class="exercise-induced-angina-whether-the-patient-experienced-angina-due-to-exercise-1-for-yes-0-for-no"
        >
          Exercise-Induced Angina: Whether the patient experienced angina due to
          exercise (1 for yes, 0 for no).
        </div>
        <div
          class="number-of-major-vessels-indicates-the-number-of-major-vessels-colored-by-flouroscopy-0-3"
        >
          Number of Major Vessels: Indicates the number of major vessels colored
          by flouroscopy (0-3).
        </div>
      </div>
      <img
        class="_25553239-79-z-2203-w-009-n-001-124-c-p-6-124-1"
        src="_25553239-79-z-2203-w-009-n-001-124-c-p-6-124-1.png"
      /><img
        class="https-lottiefiles-com-animations-data-scanning-9-p-3-as-kkz-59"
        src="https-lottiefiles-com-animations-data-scanning-9-p-3-as-kkz-59.png"
      />
      <div class="ellipse-132"></div>
      <svg
        class="ellipse-14"
        width="602"
        height="395"
        viewBox="0 0 602 395"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g filter="url(#filter0_f_4_431)">
          <path
            d="M602 197.5C602 306.3 467.238 394.5 301 394.5C134.762 394.5 0 306.3 0 197.5C0 88.6999 134.762 0.5 301 0.5C467.238 0.5 602 88.6999 602 197.5Z"
            fill="#79A2FF"
          />
        </g>
        <defs>
          <filter
            id="filter0_f_4_431"
            x="-400"
            y="-399.5"
            width="1402"
            height="1194"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"
            />
            <feGaussianBlur
              stdDeviation="200"
              result="effect1_foregroundBlur_4_431"
            />
          </filter>
        </defs>
      </svg>

      <img
        class="network-robot-assistant-working-on-laptop-1"
        src="network-robot-assistant-working-on-laptop.gif"
      />
      <div
        class="cardiovascular-disease-cvd-refers-to-a-class-of-disorders-that-affect-the-heart-and-blood-vessels-leading-to-various-conditions-such-as-heart-attacks-strokes-heart-failure-and-other-related-complications-it-is-one-of-the-leading-causes-of-mortality-and-morbidity-worldwide-posing-a-significant-public-health-challenge-cardiovascular-diseases-can-develop-due-to-a-variety-of-factors-including-high-blood-pressure-high-cholesterol-levels-smoking-obesity-and-diabetes-understanding-the-risk-factors-symptoms-and-available-prevention-strategies-is-crucial-in-combating-this-widespread-and-potentially-life-threatening-condition"
      >
        Cardiovascular disease (CVD) refers to a class of disorders that affect
        the heart and blood vessels, leading to various conditions such as heart
        attacks, strokes, heart failure, and other related complications. It is
        one of the leading causes of mortality and morbidity worldwide, posing a
        significant public health challenge. Cardiovascular diseases can develop
        due to a variety of factors, including high blood pressure, high
        cholesterol levels, smoking, obesity, and diabetes. Understanding the
        risk factors, symptoms, and available prevention strategies is crucial
        in combating this widespread and potentially life-threatening condition.
      </div>
      <img class="_11664301-20944833-1" src="_11664301-20944833-1.png" />
      <div
        class="we-introduce-our-state-of-the-art-ai-algorithm-for-cardiovascular-disease-risk-detection-powered-by-the-sophisticated-xg-boost-classifier-this-cutting-edge-machine-learning-model-lies-at-the-heart-of-our-system-enabling-us-to-analyze-vast-and-intricate-datasets-with-unparalleled-accuracy-xg-boost-excels-in-discerning-subtle-patterns-within-the-data-allowing-us-to-identify-crucial-risk-factors-associated-with-cardiovascular-disease"
      >
        We introduce our state-of-the-art AI algorithm for Cardiovascular
        Disease risk detection, powered by the sophisticated XGBoost Classifier.
        This cutting-edge machine learning model lies at the heart of our
        system, enabling us to analyze vast and intricate datasets with
        unparalleled accuracy. XGBoost excels in discerning subtle patterns
        within the data, allowing us to identify crucial risk factors associated
        with Cardiovascular Disease.
      </div>
      <div
        class="our-model-demonstrates-impressive-precision-and-recall-rates-in-cardiovascular-disease-risk-detection-through-rigorous-testing-and-validation-our-algorithm-has-proven-its-ability-to-accurately-pinpoint-potential-risks-while-minimizing-false-positives-and-negatives-this-remarkable-balance-between-precision-and-recall-underscores-the-reliability-of-our-system-instilling-confidence-in-both-healthcare-professionals-and-individuals-seeking-accurate-cardiovascular-health-assessments"
      >
        Our Model demonstrates impressive precision and recall rates in
        Cardiovascular Disease risk detection. Through rigorous testing and
        validation, our algorithm has proven its ability to accurately pinpoint
        potential risks while minimizing false positives and negatives. This
        remarkable balance between precision and recall underscores the
        reliability of our system, instilling confidence in both healthcare
        professionals and individuals seeking accurate cardiovascular health
        assessments.
      </div>
      <img class="untitled" src="untitled.png" /><img
        class="untitled-1"
        src="untitled-1.png"
      />
      <div class="confusion-matrix">Confusion matrix</div>
      <div class="classification-report">Classification report</div>
      <div class="about-our-dataset">About our Dataset</div>
      <div class="working-of-the-diagnostic-expert-system">
        Working of the Diagnostic Expert System
      </div>
      <img
        class="https-lottiefiles-com-animations-ai-powered-marketing-tools-abstract-jwxvm-kb-rxh"
        src="https-lottiefiles-com-animations-ai-powered-marketing-tools-abstract-jwxvm-kb-rxh.png"
      /><img class="_10606210-9817-1" src="_10606210-9817-1.png" />
      <div
        class="harnessing-the-power-of-artificial-intelligence-our-advanced-system-has-been-meticulously-crafted-to-revolutionize-early-detection-and-intervention-thereby-significantly-improving-cardiovascular-health-outcomes"
      >
        Harnessing the power of artificial intelligence, our advanced system has
        been meticulously crafted to revolutionize early detection and
        intervention, thereby significantly improving cardiovascular health
        outcomes
      </div>
      <div
        class="age-height-weight-gender-systolic-blood-pressure-diastolic-cholesterol-glucose-smoking-alcohol-intake-physical-activity-presence-or-absence-of-cardiovascular-disease-all-of-the-dataset-values-were-collected-at-the-moment-of-medical-examination"
      >
        <span
          ><span
            class="age-height-weight-gender-systolic-blood-pressure-diastolic-cholesterol-glucose-smoking-alcohol-intake-physical-activity-presence-or-absence-of-cardiovascular-disease-all-of-the-dataset-values-were-collected-at-the-moment-of-medical-examination-span"
            >Age<br />Height <br />Weight<br />Gender<br />Systolic blood
            pressure<br />Diastolic
            <br />Cholesterol<br />Glucose<br />Smoking<br />Alcohol intake
            <br />Physical activity<br />Presence or absence of cardiovascular
            disease <br /></span
          ><span
            class="age-height-weight-gender-systolic-blood-pressure-diastolic-cholesterol-glucose-smoking-alcohol-intake-physical-activity-presence-or-absence-of-cardiovascular-disease-all-of-the-dataset-values-were-collected-at-the-moment-of-medical-examination-span2"
            >All of the dataset values were collected at the moment of medical
            examination.</span
          ></span
        >
      </div>
      <div
        class="our-dataset-has-over-70-000-entries-of-patients-all-across-the-world-source-kaggle-it-has-the-following-features"
      >
        Our dataset has over 70,000 entries of patients all across the world.
        (Source Kaggle)<br />It has the following features:
      </div>
    </div>
  </body>
</html>
