@font-face {
    font-family: volko;
    src: url(../public/mudkty-wtvolkolakgrotesque-light.ttf);
}
*{
    margin: 0;
    line-height: normal;
}
body{
    position: relative;
    background-color: #EFEFEF;
    overflow-x: hidden;
    /* height: 2000px; */
}
.background1{
    width: 38vw;
    height: 38vw;
    position: absolute;
    border-radius: 19vw;
    background: rgba(121, 162, 255, 0.60);
    filter: blur(200px);
    right: -7vw;
    top: -7vw;
}
.background2{
    /* position: absolute; */
    /* border-radius: 19vw; */
    /* width: 38vw; */
    /* height: 38vw; */
    /* background: rgba(121, 162, 255, 0.60); */
    /* filter: blur(200px); */
    /* transform: rotate(90deg); */
/*    left: -8vw;*/
/*    top: 500px;*/
/*    z-index: -1;*/
}
.logo{
    text-decoration: none;
}
.logoname{
    color: #000;
    text-align: center;
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 600;
    font-family: "MADEEvolveSansEVO";
    line-height: normal;
}
.header{
    /* display: static; */
    position: relative;
    display:flex;
    margin-left:6.2vw;
    margin-right:6.2vw;
    margin-top: 2vw;
    align-items: center;
    height: 3vw;
    width: 87vw;
}

.Patient_ID{
    display: flex;
    position: absolute;
    right: 0px;
    width:17.71vw;
    height: 4vw;
    border-radius: 3vw;
    background: #FFF;
    margin-right:25.6vw;
    align-items: center;
    justify-content: space-evenly;
}

.patient_id_input{
    background: #FFF;
    border:none;
    color:black;
    font-family: "Montserrat Alternates";
    font-size: 1.5vw;
    font-weight: 400;
    width:8.4vw;
    height: 3vw;
}

.Doctor_Name{
    display: flex;
    position: absolute;
    right: 0px;
    align-items: center;
    width:25vw;
    height: 4vw;
    border-radius: 3vw;
    background: #FFF;
    gap:6.28vw;
    margin-left:29vw;
}
.Doctor_Name>img{
    background-color: #EFEFEF;
    border-radius: 40%;
}
.doctorNameInput{
    background: #FFF;
    border:none;
    color:black;
    font-family: "Montserrat Alternates";
    font-size: 1.5vw;
    font-weight: 400;
    width:13vw;
    height: 3vw;
    margin-left:1.8vw;
}

/*   ---------------------Left Part----------------------       */


.Container{
    margin-top: 3vw;
    display: flex;
    flex-direction: row;
}
.LeftPart{
    display:flex;
    margin-top: 1vw;
    margin-left: 6.2vw;
    flex-direction:column;
    margin-right: 5vw;
}
.Heart_Disease{
    width: 20vw;
    height: 10vw;
    color: #000;
    font-family: volko;
    font-size: 6vw;
    align-content: center;
    line-height: 100%; /* line height -> sets distance between lines of text*/
}
.HDisease_Prediction{
    width:32.7vw;
    height:24.5vw;
    align-items: center;
    flex-shrink: 0;
    margin-top:53px;
}
.HDisease_Prediction img{
    width: 100%;
}


/*   ---------------------Right Part----------------------       */


.RightPart{
    margin-top: 2vw;
    width: 52vw;
    height: 45vw;
    border-radius: 2vw;
    overflow-y: scroll;
    background: #d7cbcb4c;
}
.RightPart::-webkit-scrollbar{ 
    width: 10px;
}
.RightPart::-webkit-scrollbar-track{ 
    background-color: #d7cbcb4c;
}
.RightPart::-webkit-scrollbar-thumb{ 
    background-color: #a59a9a4c;
    border-radius: 7px;
}
.Param{
    margin-top: 1.5vw;
    display:flex;
    gap: 0.8vw;
    align-items: center;
    margin-left: 2vw;
}
.BlueDot{
    width: 1.4vw;
    height: 1.4vw;
    border-radius: 50%;
    background-color:#407BFF;
}
.Parameters{
    font-family: "Montserrat Alternates";
    font-size: 2.2vw;
    font-weight: 600;
}
.grid-container {
    margin-top: 2vw;
    display: grid;
    column-gap: 1.33vw;
    row-gap: 3.4vw;
    grid-template-columns: 11.3vw 11.3vw 11.3vw 11.3vw;
    grid-template-rows: 11.3vw 11.3vw;
    justify-content: center;
    align-items: stretch;
}
.grid-item{
    position: relative;
    width: 11.3vw;
    height: 13vw;
    border-radius: 2.5vw;
    padding-top: 1.5vw;
    background: #D9D9D9;
    font-family: "Montserrat Alternates";
    font-size: 1.5vw;
    font-weight: 500;
}

.grid-item div{
    text-align: center;
    word-break: normal;
    white-space: wrap;
    height: 2.5vw;
    font-size: 1.6vw;
}
.grid-item .input2{
    text-align: center;
    display: flex;
    position: absolute;
    top: 6vw;
    font-size: 1.5vw;
    font-weight: 600;
    width: 8.8vw;
    height: 3.5vw;
    margin-left: 1vw;
    border-radius: 1vw;
    background: #FFF;
    border:none;
}
.grid-item .input2::placeholder{
    font-size: 20px;
    color: #bab6b6;
}
.grid-item .dropdown{
    width: 8.8vw;
    height: 3.5vw;
    border: none;
    border-radius: 1vw;
    margin-left: 1vw;
    position: absolute;
    top: 6vw;
}
.radio-buttons{
    margin-top: 2vw;
}
.form-check{
    margin: auto;
    width: 7vw;
}


/* -------------- Predict and Reset -------------- */

.predictandreset{
    width: 36.7vw; /* 550px */
    height: 5vw;
    display: flex;
    margin: auto;
    margin-top: 5vw;
    margin-bottom: 1vw;
    gap: 1.3vw;
}
.button1{
    width: 18.1vw;
    height: 5vw;
    border-radius: 1.5vw;
    border: none;
    font-family: Montserrat Alternates;
    font-size: 2.5vw;
    font-weight: 600;
    cursor: pointer;
}
.predictandreset>.predict{
    color: #EFEFEF;
    background: #407BFF;
}
.predictandreset>.reset{
    background: #D9D9D9;
    color: #407BFF;
}


/* -------------- Prediction ------------- */


.Prediction{
    position: relative;
    margin-top: 80px;
}
.Prediction2{
    display: flex;
    gap:15px;
    align-items: center;
}
.GIF img{
    background-color: #FFF;
    border-radius: 20px;
    /* width: 10.8vw; */
    width:10vw;
    height:132px;
}

.predict_result{
    width: 16.8vw;
    height:132px ;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    border:none;
    font-family: "Montserrat Alternates";
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    
}

.resulttext {
    margin-top: 30px;
    /* vertical-align: middle; */
}

.Box1{
    margin-left: 20px;
    margin-top:21px;
    display:flex;
    width:30vw;
    height:170px;
    border-radius: 35px;
    background: #D9D9D9;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.statisfied_or_not{
    padding: 0;
    margin: 21px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: relative;
    width: 17vw;
    height: 168px;
    border-radius: 25px;
    background: #D9D9D9;
    font-family: "Montserrat Alternates";
    font-size: 21px;
    font-weight: 500
    
}
.satis{
   margin: 15px 50px;
   text-wrap: nowrap; 
}


/* ---------------------- Get Report ----------------------------- */


.GetReport_Prescription_Submit{
    margin-top: 80px;
}
.GetReport_Prescription_Submit .Param{
    margin-bottom: 20px;
}
.Box2{
    width: 49.5vw;
    height: 254px;
    background-color: #D9D9D9;
    border-radius: 35px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.GetReport_Prescription_Submit .whitebox{
    margin-top: 20px;
    width: 36.7vw;
    height: 124px;
    background: #FFF;
    border-radius: 10px;
    /* word-wrap: break-word;
    word-break: break-all; */
    resize: none;
}
.WhiteDot{
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 50%;
    background-color:#FFF;
}
.GetReport_Prescription_Submit .text{
    position: absolute;
    left: 56px;
    top: 34px;
    display: flex;
    align-items: center;
    gap: 1.33vw;
    font-weight: 500;
}
.GetReport_Prescription_Submit .t{
    font-family: Montserrat Alternates;
    font-size: 24px;
}
.submit_report{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 24vw;
    height: 70px;
    border-radius: 24px;
    background: #407BFF;
    color: #EFEFEF;
    font-family: Montserrat Alternates;
    font-size: 30px;
    font-weight: 600;
    border: none;
}

@media only screen and (max-width: 720px) {
    .Container{
        flex-direction: column;
        width: 10vw;
    }
    .background1{
        display:none;
    }
    .RightPart{
        width: 94vw;
        margin-left: 1.5vw;
        margin-top: -10vw;
    }
    .grid-container{
        column-gap: 12vw;
        row-gap: 4vw;
        margin-left: -9vw;
    }
    .Heart_Disease{
        position: relative;
        width: 20vw;
        top: 9vw;
        font-size: 8vw;
    }
    .grid-item{
        width: 21vw;
    }
    .HDisease_Prediction img {
        position: relative;
        top: -20vw;
        left: 50vw;
    }
    .grid-item div{
        font-size: 2.2vw;
        height: 3vw;
    }
}
