body {
    margin: 0;
    box-sizing: border-box;
    
    line-height: normal;
}
.homepage{
    position: relative;
    background-color: #f9f9f9;
    width: 100%;
    height: 812px;
    /* overflow: hidden; */
    font-family: "VolkolakGrotesque-Light";
}
.rectangle-5{
    position: relative;
    display: flex;
    height: 69.1px;
    top: 42px;
    margin-left: 192px;
    margin-right: 244px;
    align-items: center;
}
.rectangle-5 .nav{
    display: flex;
    position: absolute;
    right: 0px;
}
.nav a{
    text-decoration: none;
    font-size: 16px;
    padding-left: 103px;
    font-weight: 600;
    font-family: 'Montserrat Alternates';
    color: #170808;
}
.login{
    display: flex;
    position:absolute;
    top: 208px;
    width: 100%;
    height: 512px;
}
.vector-login{
    margin-top: auto;
    margin-bottom: auto;
   padding-left: 93px;
   padding-right: 79px;
}
.line-div{
    border-right: 2px solid #000;
    height: 512px;
}
.rightlogin{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-left: 140px;
    width: 455px;
    height: 486px;
}
.rightlogin form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginvector{
    height: 133px;
    opacity: 0.68;
}
.username{
    display: flex;
    align-items: center;
    font-size: 32px;
    font-family: 'Montserrat Alternates';
    margin-top: 23px;
    width: 455px;
    height: 72px;
    border-radius: 15px;
    background-color: #79a2ff;
    text-align: center;
}
.username .user{
    padding-left: 88px;
}
.username .image{
    padding-left: 20px;
}
.password{
    display: flex;
    align-items: center;
    font-size: 32px;
    font-family: 'Montserrat Alternates';
    margin-top: 23px;
    width: 455px;
    height: 72px;
    border-radius: 15px;
    background-color: #79a2ff;
    text-align: center;
}
.password .passw{
    padding-left: 88px;
}
.password .image{
    padding-left: 20px;
}
/* input{
    border: none;
    font-size: 32px;
    font-family: 'Montserrat Alternates';
    background-color: #79a2ff;
} */
input[type="submit"]{
    border: none;
    font-size: 32px;
    font-family: 'Montserrat Alternates';
    margin-top: 23px;
    width: 192px;
    height: 49px;
    border-radius: 15px;
    background-color: #79a2ff;
    cursor: pointer;
}
.remember{
    display: block;
    width: 25px;
    height: 21px;
}
.forgot{
    display: flex;
    width: 25px;
    height: 21px;
}
checkbox{
    width: 40px;
    height: 21px;
    border-radius: 5px;
    color: #79a2ff;
}





